#pin-add {
  font-size: 24px;
  color: var(--surface-bright);
}

#pin-cell-box {
  /* background-color: var(--shadow); */
  border-radius: 16px;
  padding: 16px;
  border: 4px solid var(--surface);
  /* min-height: 160px; */
}

#pin-file,
#pin-url {
  font-weight: bold;
  /* margin-top: -16px; */
  /* margin-bottom: 16px; */
}

#pin-add:hover {
  color: var(--primary);
}

#pin-text {
  font-weight: bold;
}

#pin-url-icon {
  color: var(--primary);
}
