#bluetooth-header {
  border: 2px solid var(--surface);
  padding: 4px;
  border-radius: 12px;
}

#bluetooth-device {
  border: 2px solid var(--surface);
  border-radius: 12px;
  padding: 4px;
}

#bluetooth-scan,
#bluetooth-back {
  background-color: var(--surface);
  border-radius: 8px;
  padding: 4px;
}

#bluetooth-back-label {
  font-size: 20px;
}

#bluetooth-scan:hover,
#bluetooth-back:hover {
  background-color: var(--surface-bright);
}

#bluetooth-scan label,
#bluetooth-toggle label {
  font-weight: bold;
}

#bluetooth-text,
#bluetooth-section {
  font-weight: bold;
}

#bluetooth-section {
  background-color: var(--surface);
  border-radius: 12px;
  padding: 8px;
}

#bluetooth-connection {
  font-size: 20px;
}

#bluetooth-connect {
  background-color: var(--surface);
  border-radius: 8px;
  padding: 8px;
}

#bluetooth-connect:hover {
  background-color: var(--surface-bright);
}

#bluetooth-paired,
#bluetooth-available {
  background-color: var(--surface);
  border-radius: 20px;
  padding: 4px;
}

#bt-sep {
  /*padding: 1px;*/
  border-radius: 16px;
  /*background-color: var(--surface);*/
  /*margin: 0 16px;*/
}

#bluetooth-scan-label {
  font-size: 20px;
  color: var(--primary);
}

#bluetooth-scan.scanning {
  animation: blink 0.5s ease infinite;
}

#bluetooth-scan-label.scanning {
  animation: blink 0.5s ease infinite;
}

@keyframes blink {
  0% {
    background-color: var(--blue);
    color: var(--shadow);
  }
  50% {
    background-color: var(--shadow);
    color: var(--blue);
  }
  100% {
    background-color: var(--blue);
    color: var(--shadow);
  }
}
