#control-slider {
  background-color: var(--surface-bright);
  margin: 12px 14px;
}

#control-slider trough {
  min-height: 4px;
  padding: 0 14px;
  margin: -12px -14px;
}

#control-slider trough highlight {
  border-radius: 20px;
  min-width: 28px;
  min-height: 28px;
  margin: 0 -14px;
  background-color: var(--primary);
}

#control-slider.muted trough highlight {
  background-color: var(--outline);
}

#control-slider slider {
  border-radius: 100%;
  min-width: 20px;
  min-height: 20px;
  border: 4px solid transparent;
}

#control-small {
  padding: 4px;
  background-color: var(--shadow);
}

#button-volume,
#button-mic,
#button-brightness {
  color: var(--surface-bright);
  border: 3px solid var(--primary);
}

#button-volume.muted,
#button-mic.muted {
  color: var(--surface-bright);
  border: 3px solid var(--outline);
}

#vol-label,
#mic-label,
#brightness-label {
  font-size: 16px;
}

#vol-label.muted,
#mic-label.muted {
  color: var(--outline);
}

#vol-icon,
#mic-icon,
#brightness-icon {
  min-width: 28px;
  min-height: 28px;
  background-color: var(--primary);
}

#vol-icon.muted,
#mic-icon.muted {
  background-color: var(--outline);
}

#vol-label-dash,
#mic-label-dash,
#brightness-label-dash {
  color: var(--shadow);
  font-size: 20px;
}

#vol-label-dash.muted,
#mic-label-dash.muted {
  color: var(--surface);
}
