layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}

window-rule {
    match app-id="^kitty$"
    background-effect {
        blur true
        xray false
    }
}