/* decay */
.bar {
  padding: 1rem 0.4rem 0.6rem;
  border-radius: 0px;
  background: #13161a;
  color: #dee1e6; }
  .bar-pfp {
    min-height: 29px;
    border: 1px #7297d9 solid;
    background-position: center;
    border-radius: 100px; }
  .bar-time {
    padding: 0.6rem 0.3rem;
    font-family: "Product Sans";
    border-radius: 8px;
    font-size: 14px;
    background: #1b1f25; }
  .bar-ws {
    border-radius: 8px;
    background: #1b1f25;
    padding: 1rem 0.85rem; }
    .bar-ws-empty {
      transition: 100ms ease;
      min-height: 30px;
      border-radius: 10px;
      margin: 5px 0;
      background: rgba(222, 225, 230, 0.1); }
    .bar-ws-occupied {
      transition: 100ms ease;
      min-height: 70px;
      border-radius: 10px;
      margin: 5px 0;
      background: rgba(222, 225, 230, 0.1); }
    .bar-ws-active {
      transition: 100ms ease;
      border-radius: 10px;
      background: #7297d9;
      margin: 5px 0;
      min-height: 100px; }
    .bar-ws-indicator {
      transition: 100ms ease;
      padding: 0.25rem;
      margin: 5px 0;
      border-radius: 10px; }
  .bar-battery {
    border-radius: 8px; }
    .bar-battery-bulb {
      padding: 0.1rem;
      border-radius: 100px;
      min-width: 10px;
      background: #485263; }
    .bar-battery-prog {
      border: 1px solid #485263;
      padding: 0.2rem;
      border-radius: 8px; }
      .bar-battery-prog trough {
        border-radius: 4px;
        padding: 0 0.4rem;
        min-width: 10px;
        min-height: 40px;
        background: rgba(102, 205, 153, 0.2); }
      .bar-battery-prog progress {
        border-radius: 4px;
        padding: 0.4rem;
        min-width: 10px;
        background: #66cd99; }
  .bar-icons {
    border-radius: 8px;
    padding: 0.7rem 0.3rem;
    background: #1b1f25; }

.bgoverlay {
  min-height: 1080px;
  min-width: 1880px;
  border-radius: 20px 0 0 20px; }

.bgbox {
  background: #13161a;
  border-radius: 0;
  min-height: 1080px;
  min-width: 1880px; }

.rm-icon {
  font-size: 20px; }

.rm-entry {
  min-width: 200px;
  min-height: 30px; }

menu {
  padding: 0.681rem;
  font-family: "Product Sans";
  background: #13161a;
  color: #dee1e6;
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem; }

menubar > menuitem {
  border-radius: 0.545rem;
  -gtk-outline-radius: 0.545rem;
  min-width: 13.636rem;
  min-height: 2.727rem; }

menu > menuitem {
  padding: 0.4em 1.5rem;
  background: transparent;
  transition: 0.2s ease background;
  border-radius: 0.545rem;
  -gtk-outline-radius: 0.545rem; }

menu > menuitem:hover,
menu > menuitem:focus {
  background-color: #1b1f25; }

menu > menuitem:active {
  background-color: #1b1f25; }

.launcher {
  color: #dee1e6;
  border-radius: 0 0 20px 0;
  background: #13161a; }
  .launcher-left {
    padding: 0.5rem;
    background: #13161a;
    border-radius: 10px; }
  .launcher-pfp {
    border-radius: 100px;
    min-height: 40px;
    min-width: 40px; }
  .launcher-right {
    font-family: Product Sans;
    margin: 10px 10px 10px 0px;
    border-radius: 10px; }
  .launcher-exit {
    font-family: Material Design Icons;
    font-size: 25px;
    color: #dee1e6; }
  .launcher-appmenu {
    padding: 1rem;
    background: rgba(27, 31, 37, 0.5);
    border-radius: 10px; }
    .launcher-appmenu-list {
      min-width: 300px;
      min-height: 500px; }
    .launcher-appmenu-appicon {
      padding: 0.5rem; }
    .launcher-appmenu-appentry {
      border-radius: 10px;
      padding: 1rem;
      background: rgba(222, 225, 230, 0.05);
      font-family: Iosevka Nerd Font; }
    .launcher-appmenu-apptitle {
      font-family: "Product Sans";
      font-size: 16px;
      margin-left: 1rem; }
  .launcher-music {
    background: rgba(27, 31, 37, 0.5);
    padding: 1rem;
    margin-top: 10px;
    border-radius: 10px; }
    .launcher-music-img {
      border-radius: 10px; }
    .launcher-music-artist {
      font-size: 12px;
      font-family: Product Sans;
      margin: 0.4rem 0; }
    .launcher-music-info {
      padding: 1rem; }
    .launcher-music-box {
      margin-top: 1rem; }
    .launcher-music-icon {
      font-size: 20px;
      color: #dee1e6; }
    .launcher-music-prog {
      min-height: 30px;
      font-size: 2px;
      color: #7297d9;
      min-width: 30px; }
  .launcher-sites {
    background: rgba(27, 31, 37, 0.5);
    padding: 1rem;
    border-radius: 10px; }
    .launcher-sites-list {
      min-width: 180px;
      min-height: 200px; }
  .launcher-weather {
    border-radius: 10px;
    margin-bottom: 10px; }
    .launcher-weather-g {
      background: linear-gradient(to bottom, rgba(19, 22, 26, 0.6), rgba(19, 22, 26, 0.9)); }
    .launcher-weather-info {
      padding: 2rem; }
    .launcher-weather-feelslike {
      font-size: 1.3rem; }
    .launcher-weather-temp {
      font-size: 2.3rem; }
    .launcher-weather-city {
      margin-top: 2.8rem; }

.panel {
  background: #13161a;
  border-radius: 0px;
  color: #dee1e6;
  padding: 2rem;
  min-width: 400px; }
  .panel-pfp {
    min-height: 40px;
    min-width: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 100px; }
  .panel-uptime {
    font-family: Product Sans;
    font-size: 20px;
    color: #485263; }
  .panel-name {
    font-family: Product Sans;
    font-size: 25px;
    font-weight: 300; }
  .panel-button {
    padding: 1.2rem;
    font-size: 1.6rem;
    border-radius: 100px;
    font-family: Material Design Icons; }
    .panel-buttons {
      background: #1b1f25;
      border-radius: 100px; }
    .panel-buttonactive {
      padding: 1.2rem;
      font-size: 1.6rem;
      border-radius: 100px;
      background: #7297d9;
      color: #13161a;
      font-family: Material Design Icons; }
  .panel-sep {
    min-width: 5px;
    border-radius: 40px;
    background: rgba(222, 225, 230, 0.08);
    min-height: 30px; }
  .panel-sliders {
    padding: 1.5rem;
    font-family: Product Sans;
    background: rgba(27, 31, 37, 0.5);
    border-radius: 10px; }
  .panel-slider-label {
    font-family: Product Sans; }
  .panel-slider trough {
    min-height: 18px;
    border-radius: 50px;
    min-width: 100px;
    background: rgba(114, 151, 217, 0.07); }
  .panel-slider highlight {
    background: #7297d9;
    min-height: 18px;
    border-radius: 50px; }

.panel-notifications {
  padding: 1.5rem;
  font-family: Product Sans;
  background: rgba(27, 31, 37, 0.5);
  margin-top: 10px;
  border-radius: 10px; }

.nt {
  font-size: 18px; }

.notifempty {
  min-height: 220px; }

.ni {
  font-size: 28px;
  color: #7297d9; }

.panel-notification {
  background: #1b1f25;
  border-radius: 10px; }

.nt2 {
  padding: 0.8rem;
  background: rgba(222, 225, 230, 0.04); }

.nti {
  color: #cd5667; }

.nc {
  min-height: 65px;
  padding: 1rem; }

.calendar-med {
  background: rgba(215, 142, 108, 0.08);
  border-radius: 5px;
  border-left: 5px solid #d78e6c;
  padding: 1rem; }

.calendar-normal {
  background: rgba(102, 205, 153, 0.08);
  border-radius: 5px;
  padding: 1rem;
  border-left: 2px solid #66cd99; }

.calendar-low {
  border-radius: 5px;
  padding: 1rem;
  border-left: 5px solid rgba(222, 225, 230, 0.7); }

.calendar-high {
  background: rgba(205, 86, 103, 0.08);
  border-left: 5px solid #cd5667;
  border-radius: 5px;
  padding: 1rem; }

.calendar-events {
  background: rgba(27, 31, 37, 0.46);
  color: #dee1e6;
  font-family: Product Sans;
  padding: 1.5rem;
  border-radius: 20px; }
  .calendar-events .icon {
    font-size: 18px; }
  .calendar-events-title {
    font-size: 20px; }
  .calendar-events-box {
    padding: 0rem;
    color: #dee1e6;
    background: rgba(222, 225, 230, 0.05);
    border-radius: 5px;
    min-width: 60px;
    margin-right: 1rem; }
  .calendar-events-month {
    background: rgba(222, 225, 230, 0.1);
    border-radius: 5px 5px 0 0;
    color: #dee1e6;
    padding: 0.3rem 0; }
  .calendar-events-date {
    padding: 0.4rem 0;
    font-size: 22px;
    font-weight: 900; }
  .calendar-events-text {
    font-size: 18px; }
  .calendar-events-item {
    margin: 0.5rem 0; }

.calendar-music {
  font-family: Product Sans;
  padding: 1rem; }
  .calendar-music-vis {
    min-width: 4px;
    border-radius: 20px;
    background: #dee1e6; }
    .calendar-music-vis-1 {
      min-height: 10px; }
    .calendar-music-vis-2 {
      min-height: 30px; }
    .calendar-music-vis-3 {
      min-height: 18px; }
    .calendar-music-vis-4 {
      min-height: 25px; }
  .calendar-music-label {
    font-weight: 300; }
  .calendar-music-title {
    font-weight: 600;
    font-size: 22px; }
  .calendar-music-b {
    border-radius: 10px; }
  .calendar-music-g {
    background: linear-gradient(to right, rgba(19, 22, 26, 0.7), rgba(19, 22, 26, 0.9)); }

.calendarbox {
  padding: 1rem;
  background: #13161a; }

.calendar-hour {
  color: #7297d9;
  font-weight: 600;
  margin-bottom: 1.8rem;
  margin-right: 2rem;
  font-size: 35px; }

.calendar-min {
  color: #485263;
  font-weight: 600;
  margin-left: 1rem;
  font-size: 35px;
  margin-top: 0.2rem; }

.calendar-time-box {
  min-height: 80px;
  min-width: 60px; }

.calendar-day {
  font-size: 16px;
  color: #485263; }

.calendar-mon {
  margin-top: 11.4rem;
  font-size: 20px;
  color: #dee1e6; }

.calendar-side {
  padding: 1rem;
  background: rgba(27, 31, 37, 0.46);
  border-radius: 10px;
  font-family: Product Sans; }

.calendar-cal {
  border-radius: 10px;
  padding: 1.8rem;
  background: rgba(27, 31, 37, 0.46); }

.calendar-cell {
  padding: 0.2rem .4rem;
  color: #dee1e6;
  margin: 0.5rem 0rem;
  border-radius: 4px;
  font-family: Product Sans;
  font-size: 18px; }

.calendar-disabled {
  color: #485263; }

.calendar-weekend {
  color: #cd5667; }

.calendar-weekday {
  color: #7297d9; }

.calendar-active {
  background: #1b1f25;
  color: #7297d9; }

.osd {
  background: #13161a;
  padding: 1.4rem;
  color: #dee1e6;
  border-radius: 20px;
  font-family: "Product Sans"; }
  .osd-icon {
    font-size: 40px; }
  .osd-label {
    font-size: 16px; }
  .osd-prog {
    border-radius: 8px; }
    .osd-prog trough {
      border-radius: 20px;
      min-width: 190px;
      min-height: 20px;
      background: rgba(114, 151, 217, 0.05); }
    .osd-prog progress {
      min-height: 15px;
      border-radius: 20px;
      background: rgba(114, 151, 217, 0.8); }

.desktime {
  background: #13161a;
  padding: 2rem 4rem;
  color: #dee1e6;
  font-family: "Product Sans";
  border-radius: 100px 0 0 100px;
  margin-top: 4rem; }
  .desktime-text-big {
    font-size: 27px; }
  .desktime-date, .desktime-day {
    font-size: 27px; }
  .desktime-day {
    color: #7297d9;
    font-weight: 600; }
  .desktime-message {
    color: #dee1e6;
    background: #1b1f25;
    padding: 1.5rem 0rem;
    min-width: 300px;
    font-size: 18px;
    font-family: "Product Sans";
    border-radius: 0px 0 0 20px; }

.popuppanel {
  background: #13161a;
  border-radius: 20px;
  color: #dee1e6;
  padding: 1.5rem; }
  .popuppanel-wifi, .popuppanel-bluetooth {
    min-width: 270px; }
  .popuppanel-title {
    font-family: "Product Sans";
    font-size: 18px; }
  .popuppanel-close {
    font-size: 18px;
    color: #cd5667;
    padding: 0.5rem;
    border-radius: 100px;
    background: rgba(205, 86, 103, 0.1); }
  .popuppanel-label {
    font-family: "Product Sans";
    font-size: 16px; }
    .popuppanel-label-active {
      color: #7297d9; }
  .popuppanel-scroll {
    min-height: 300px; }
  .popuppanel-active-icon {
    padding: 0rem 0.6rem;
    font-size: 18px;
    color: #7297d9; }

.notification {
  border-radius: 20px;
  color: #dee1e6;
  background: #13161a;
  padding: 1.3rem;
  min-width: 300px;
  font-family: "Product Sans";
  min-height: 60px; }
  .notification-title {
    font-size: 18px; }
  .notification-button {
    padding: 0.3rem;
    background: #1b1f25;
    margin-top: 0.7rem;
    border-radius: 10px; }

* {
  font-family: "Product Sans";
  all: unset; }

tooltip {
  color: #dee1e6;
  font-family: "Product Sans";
  background: #13161a;
  padding: 0.9rem;
  border-radius: 10px; }

.icon {
  font-family: Material Design Icons; }
