#button-bar,
#workspaces,
#workspaces-num,
#notch-content,
#date-time,
#systray,
#battery,
#control-small,
#notification-stack-box,
#nav-button,
#metrics-small,
#weather,
#language,
#dock {
  box-shadow: 0 0 4px alpha(black, 0.5);
}

#bar-revealer {
  padding: 10px;
}

#boxed-revealer {
  margin: -10px;
}
